.products {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    .card {
        width: 25%;
    }
}

.spinner__container {
    height: 100%;
    align-items: center;
    top:50%;
}
.mb-lg-0, .my-lg-0  {
    margin-bottom: 20px !important;
    margin-top: 10px !important;
}